---
title: CredHub Maestro Safety
owner: CredHub Maestro
---
Each section is a command that has a table of the possible errors and common mitigations.

<p class="note"><strong>Note:</strong> The mitigations listed here are common solutions and may not catch every error case. If these solutions did not solve your issue, please reach out to the CredHub team directly.</p>

## <a id='maestro-step-1'></a> maestro regenerate ca --all

<table border="1">
  <tr>
    <th>Error</th>
    <th>Mitigations</th>
  </tr>
  <tr>
    <td>there is more than one signing version of a certificate authority</td>
    <td>TBD</td>
  </tr>
  <tr>
    <td>certificate authorities can not have a transitional version</td>
    <td>TBD</td>
  </tr>
  <tr>
    <td>active child certificate version is not the latest non transitional version or more than one active version exists</td>
    <td>TBD</td>
   </tr>
  <tr>
    <td>latest certificate authority versions with active children are not signing</td>
    <td>TBD</td>
   </tr>
</table>
